/* WC Vendors Taxes admin CSS */
.wcv-taxes-table {
    margin-top: 50px;
}

.form-table .wcv-taxes-table th {
    padding: 10px;
    width: auto;
}

.form-table th .wcv-taxes-table {
    font-weight: normal;
}

.wcv-taxes-method-name a {
    font-weight: bold;
}