/* WC Vendors Taxes settings form CSS */
/* todo: move to wc vendors integration? */
.wcv-tax-hidden {
    display: none;
}

.wcv-grid table#nexus_addresses_table {
    margin-bottom: 0;
    table-layout: fixed;
}

#nexus_addresses_table input, #nexus_addresses_table select {
    max-width: 100%;
}

#nexus_addresses_table select, #nexus_addresses_table .select2-container {
    height: 43px;
}

#nexus_addresses_table td, #nexus_addresses_table th {
    padding: 0.5em;
}

.dashicons.has-tip {
    margin-left: 0.3em;
    vertical-align: middle;
}
